#header {
  background-color: #fff;
  padding: 15px;
  padding-left: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 3px #b06ea7;
  color: #b06ea7;
  font-variant-caps: petite-caps;
  letter-spacing: 2px;
  font-size:20px;
}

.material-icons {
  vertical-align: top;
  padding-right:5px;
}
