#project_top {
  padding: 2vw;
}

#project_body {
  padding-left: 2vw;
}

#project_title {
  font-size: 2vw;
  padding: calc(20px + 0.6vw);
  color: #ae6eaa;
  display: inline-block;
}

#project_actions {
  padding: 1.5em;
  margin-top: 2em;
  box-shadow: 0px -2px 2px silver;
  display: flex;
  flex-wrap: wrap;
}

#project_actions #intro_tile {
  padding-bottom: 2em;
  width: 100%;
  display: flex;
  flex: 0 0 100%;
}

#project_actions .title {
  font-size: 1.2em;
  display: block;
  padding-bottom: 1em;
}

#edit_project_tile {
  box-shadow: 0px 1px 3px #b8b8b8;
  border-left: 4px solid #7b7a42;
  padding: 1em;
  color: #7b7a42;
  margin-right: 2em;
  flex: 0 0 40%;
}

#edit_project_tile .material-icons {
  float: left;
}

#edit_project_tile .subtitle {
  color: #353535;
  display: block;
  padding-bottom: 1em;
}

#delete_project_tile {
  box-shadow: 0px 1px 3px #b8b8b8;
  border-left: 4px solid #a00;
  padding: 1em;
  color: #a00;
  flex: 0 0 40%;
}

#delete_project_tile .material-icons {
  float: left;
}

#delete_project_tile .subtitle {
  color: #353535;
  display: block;
  padding-bottom: 1em;
}

#project_actions button {
  font-size:1em;
  display: block;
  padding: 10px 20px;
  background-color: #e8e8e8;
  border-style: none;
  box-shadow: 0px 1px 3px silver;
  border-radius: 5px;
  color:#fff;
  font-family: 'Istok Web', 'Segoe UI', 'Helvetica Neue', sans-serif;
}

#edit_project_tile button {
  color: #7b7a42;
}

#delete_project_tile button {
  color: #a00;
}

#no_project_container {
  text-align: center;
  align-content: center;
  justify-content: center;
}

#no_project_container button {
  font-size:1em;
  display: block;
  padding: 10px 20px;
  background-color: #e8e8e8;
  border-style: none;
  box-shadow: 0px 1px 3px silver;
  border-radius: 5px;
  color:#555;
  font-family: 'Istok Web', 'Segoe UI', 'Helvetica Neue', sans-serif;
  margin: 1em auto;
}

#no_project_container .delete_icon {
  background-color: #e8e8e8;
  color: #a22;
  font-size: 6em;
  padding: 0.5em;
  margin-top: 1em;
  margin-bottom: 0.5em;
  border-radius: 2em;
  box-shadow: 1px 1px 6px #a22a;
}

#create_project_background .material-icons {
  font-size: 50vw;
  color: #e0e0e0;
}

#create_project_background {
  width: 100%;
  height: 100%;
  left: 40vw;
  bottom: -30%;
  position: fixed;
  z-index: -100;
  text-shadow: 2vw 1vw 3vw #e8e8e8;
  vertical-align: bottom;
}

#create_project_container {
  padding: 1.5em;
  margin: 1em;
  border-left: 2px solid #139413;
}

#create_project_leadin {
  color: #139413;
  display:flex;
  padding-bottom: 2em;
}

#create_project_leadin .material-icons {
  font-size: 3.5em;
  float: left;
  padding-right: 0.5em;
}

#create_project_leadin .title {
  font-size: 1.5em;
  display: block;
  float: left;
  margin-top: 0.5em;
}

#create_project_form .name {
  margin: 2px;
  padding: 0.6em 20px 0.6em 0.6em;
  flex: 0 40%;
  border: none;
  background: #f2f2f2;
  box-shadow: 0px 1px 3px silver;
}

#create_project_form .description {
  margin: 2px;
  padding: 0.6em 20px 0.6em 0.6em;
  flex: 0 60%;
  border: none;
  background: #f2f2f2;
  box-shadow: 0px 1px 3px silver;
}

#create_project_form button {
  font-size: 1em;
  display: block;
  padding: 10px 20px;
  background-color: #139413;
  border-style: none;
  box-shadow: 0px 1px 3px silver;
  border-radius: 5px;
  color: #fff;
  font-weight: 500;
  font-family: 'Istok Web', 'Segoe UI', 'Helvetica Neue', sans-serif;
  margin: 1em 0;
}

.project_icon {
  font-size: 4vw;
  background-color: #e8e8e8;
  border-radius: 10px;
  padding: 20px;
  color: #808080;
}

.project_actions_title_icon {
  font-size: 3em;
  color: #768437;
  float: left;
  padding-right:0.3em;
}

.project_actions_title {
  padding: 0.3em;
  font-size: 1.5em;
  display: block;
  color: #768437;
}

.no_project_title {
  font-size: 1.5em;
  color: #a22;
  display: block;
  padding: 1em;
}

.no_project_subtitle {
  font-size: 1.2em;
  color: #333;
  display: block;
  padding: 1em;
  padding-top: 0.5em;
}

.prefActions {
    display: flex;
}

.prefActions > div {
    background-color: #e8e8e8;
    padding: 9px;
    border-radius: 10px;
    margin: 5px;
    transition: background-color 0.1s;
    cursor: pointer;
}

.prefActions > div:hover {
    background-color: #d6d6d6;
    transition: background-color 0.1s
}

.set_pref_area {
  padding: 1.5em;
  margin-top: 1em;
  box-shadow: 0px 0px 3px silver;
  background-color: #e57c7614;
  width: fit-content;
}

.set_pref_intro {
  display: block;
  font-weight: 500;
  font-size: 1.3em;
  color: #e57c76;
  padding-bottom:0.2em;
}

.set_pref_subintro {
  display: block;
}
